<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoUrl" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
  <appSettings>
    <add key="Host" value="localhost"/>
    <add key="EventsStorage" value= "EventSource"/>
  </appSettings>
</configuration>